<div class="bs-component">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <a class="navbar-brand ps-3" href="#">Fuzzy Fortnight</a>
            <button title="Navigation Menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="container-md">
                <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                    <div class="navbar-nav">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> Home </NavLink>
                        <NavLink class="nav-link" href="counter"> Counter </NavLink>
                        <NavLink class="nav-link" href="fetchdata"> Fetch Data </NavLink>
                    </div>
                </div>
            </div>

        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
